{% extends "layout.html" %}
{% block content %}


<div class="gallery-container mt-5 mb-5">

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('ss_corporate')}}">
            <img src="/static//images/Corporate%20Events.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Corporate Events</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for("ss_parties") }}">
            <img src="/static//images/Parties.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Parties</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('ss_compound')}}">
            <img src="/static//images/placeholder.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Compound Bow Check-up</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('ss_recurve')}}">
            <img src="/static//images/placeholder.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Recurve Bow Check-up</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('ss_arrow')}}">
            <img src="/static//images/Arrow-Building.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Arrow Building</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('ss_string')}}">
            <img src="/static//images/placeholder.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>String Making</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="text-center col-12 pt-4">
        <a class="btn btn-secondary" href="{{ url_for('landing')}}" role="button">Return</a>
    </div>

</div>


{% endblock %}