{% extends "layout.html" %}
{% block content %}

    <h2>Beginners courses</h2>

    <p>All archers are taught on a Recurve Bow. Your first port of call should be to find out which local Archery club is nearest to your home. You can do this via our club locator. Once you have found the club you will need to email them and check their dates and availability for beginner’s sessions.</p>

    <p>Anyone running a beginner’s courses will always provide participants with safety equipment ie: arm guard and finger guard (tab). If you are attending a course, you should always ensure that long hair is tied back, and any loose clothing is secured. You should also not wear open-toed shoes or sandals.</p>

    <img src="/static//images/course.jpg" style="width: 100%;padding-bottom: 1rem">

    <p>A qualified coach(es) will then take you through the safety aspects of archery before ensuring the bow and arrows they have supplied for your use are suitable for you. They will demonstrate how to shoot and guide you through. All beginners courses must consist of a minimum 8 hours shooting time spread out over at least two days.</p>

    <p>All clubs will charge a different rate so please contact your local club to find out their prices.</p>

    <p>If your local club is not running a course or is fully booked In-Range periodically run beginner’s courses. Our courses cover all of the above and will give you a certificate which you can take along to your local club to prove  your competency. All local clubs in Kent will accept your beginner’s course from In-Range but may require a short assessment to satisfy their insurance needs before you begin with them.</p>

    <p>In-Range beginner’s courses run for 4 weeks on consecutive Saturdays. Each session lasts for 2 hours.</p>

    <!--<button type="button" class="btn btn-primary">
        <a href="https://bookings.inrangearchery.co.uk/" style="color: #1d2124">Book Appointment</a>
    </button>-->

{% endblock %}