:root {

    --card1: 1,1,1;

}

/*Subsection styling for cards*/

.bg-image {
    height: 200px;
    padding: 0;
    margin: 0px;
    position: relative;
    overflow: hidden;
    background-repeat: round;
    background-size: cover;
    border-radius: 30px;
}

.bg-image img {
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: 100% 0;
}


.bg-image .mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 20px solid transparent;
}

#card1.bg-image .mask {
    background-color: rgba(10, 150, 70, 0.175);
}
#card1.bg-image .mask:hover {
    background-color: rgba(10, 150, 70, 0.10);
}

#card2.bg-image .mask {
    background-color: rgba(10, 150, 70, 0.175);
}
#card2.bg-image .mask:hover {
    background-color: rgba(10, 150, 70, 0.10);
}

#card3.bg-image .mask {
    background-color: rgba(10, 150, 70, 0.175);
}
#card3.bg-image .mask:hover {
    background-color: rgba(10, 150, 70, 0.10);
}

#card4.bg-image .mask {
    background-color: rgba(10, 150, 70, 0.175);
}
#card4.bg-image .mask:hover {
    background-color: rgba(10, 150, 70, 0.10);
}

#card5.bg-image .mask {
    background-color: rgba(10, 150, 70, 0.175);
}
#card5.bg-image .mask:hover {
    background-color: rgba(10, 150, 70, 0.10);
}

#card6.bg-image .mask {
    background-color: rgba(10, 150, 70, 0.175);
}
#card6.bg-image .mask:hover {
    background-color: rgba(10, 150, 70, 0.10);
}




.bg-image .mask .text{
    font-size: 1.8rem;
    padding: 20px;
    height: 100%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    text-align: center!important;
}

.bg-image .mask .text p{
    margin:0;
}




.bg-image .mask .text p{
    background-color: powderblue;
    transition: background-color 0.5s;
}

.bg-image .mask .text p:hover {
    background-color: gold;
}


.gallery-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    padding:0
}

.gallery-item {
    height:300px;
    overflow:hidden;
    border-radius: 30px;

}

.gallery-item a {
    text-decoration: underline;
    color: #0922ac;
    transition: color .15s;
    touch-action: manipulation;
    background-color: transparent;
}

.gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.gallery-overlay-position {
    padding:30px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.gallery-overlay-container {
    position: relative;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
}

.gallery-overlay-bg {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-overlay-content {
    color: #3f3f3f;
    position: relative;
    z-index: 1;
}

.gallery-overlay-content h3{
    margin: 0px;
    font-size: 34px;
}
