{% extends "layout.html" %}
{% block content %}

    <h2>1:1 Coaching</h2>

    <p>In-Range Archery has qualified coaches available to provide 1-1 coaching for complete novices to advanced archers who are looking to improve their skills. </p>
    <p>Contact us to discuss your requirements.</p>
    <button type="button" class="btn btn-primary">
        <a href="https://shop.inrangearchery.co.uk/pages/contact" style="color: #1d2124">Contact Us</a>
    </button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('coaching_development')}}" role="button">Return</a>
    </div>

{% endblock %}