{% extends "layout.html" %}
{% block content %}

    <h2>Group Coaching Courses</h2>

    <p>In Partnership with Third-Eye Archery In-Range can offer group coaching for all bow styles. If you are a club, please <a href="https://shop.inrangearchery.co.uk/pages/contact">contact us</a> as we can set up a bespoke group coaching course for your members. Like and follow In-Range Archery socials to find out about upcoming group courses as we will always advertise them there in the first instance.</p>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('archery_coaching')}}" role="button">Back</a>
    </div>

{% endblock %}