{% extends "layout.html" %}
{% block content %}

    <h2>Third Eye Archery Training</h2>

    <p>As well as group coaching, our partner Third Eye Archery can also provide 1-1 performance coaching covering target panic, diet, and fitness, traditional, recurve, compound and barebow styles.</p>

    <button type="button" class="btn btn-primary">
        <a href="https://www.thirdeyearchery.com/" style="color: #1d2124">Third Eye</a>
    </button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('archery_coaching')}}" role="button">Return</a>
    </div>
{% endblock %}


