{% extends "layout.html" %}
{% block content %}

<div class="gallery-container">

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('coaching_1to1')}}">
            <img src="/static//images/shop.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>1:1 Coaching</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for("coaching_group") }}">
            <img src="/static//images/shop.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Group Coaching Courses</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for("coaching_third") }}">
            <img src="/static//images/shop.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Third Eye Archery Training</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

{% endblock %}