{% extends "layout.html" %}
{% block content %}


<div class="gallery-container mt-5 mb-5">

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('starting_out_have_a_go')}}">
            <img src="/static//images/subcat/starting-out-in-archery/have_a_go.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Have-a-Go sessions</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for("starting_out_beginners") }}">
            <img src="/static//images/placeholder.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Beginners courses</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for("starting_out_your_first_kit") }}">
            <img src="/static//images/subcat/starting-out-in-archery/your_first_kit.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Your First Kit</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="{{ url_for('starting_out_local_clubs')}}">
            <img src="/static//images/subcat/starting-out-in-archery/local_clubs.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Local Clubs</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="https://kentarcheryassociation.co.uk/">
            <img src="/static//images/subcat/starting-out-in-archery/KAA.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Kent Archery Association</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item col-12 col-sm-12 col-md-12 col-lg-5 mb-4 mr-md-2 ml-md-2">
        <a href="https://archerygb.org/">
            <img src="/static//images/subcat/starting-out-in-archery/archery_gb.jpg" class="gallery-image" style="background-position: center center;">
            <div class="gallery-overlay-position">
                <div class="gallery-overlay-container">
                    <div class="gallery-overlay-bg"></div>
                    <div class="gallery-overlay-content">
                        <h3>Archery GB</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="text-center col-12 pt-4">
        <a class="btn btn-secondary" href="{{ url_for('landing')}}" role="button">Back</a>
    </div>

</div>

{% endblock %}