{% extends "layout.html" %}
{% block content %}

    <h2>Have-a-Go Sessions</h2>

    <p>We can offer a chance to have a go at Archery using our equipment and instruction from qualified coaches. Coaches are DBS checked and have a minimum of level 1 coaching qualification through Archery GB.</p>

    <p>The sessions last for an hour, all equipment is provided for you. The hour starts with a safety briefing, and you will  start shooting within 15 minutes. During the hour our coach will be on hand to guide and help you.</p>

    <p>Have a go session are for anyone aged 10+. We can accommodate up to 4 people per coach at any one time. You can shoot Recurve, Compound or Long Bow.</p>

    <button type="button" class="btn btn-primary">
        <a href="https://bookings.inrangearchery.co.uk/" style="color: #1d2124">Book Appointment</a>
    </button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('starting_out_archery')}}" role="button">Return</a>
    </div>
{% endblock %}