{% extends "layout.html" %}
{% block content %}
<div class="content-page">
    <h2>Your First Kit</h2>

    <p>Our first piece of advice to you is to not buy anything... yet. You may wonder why that would be but we will always tell you that if you buy when you start you will outgrow the equipment very soon and waste your money.</p>

    <p>Any beginners course will provide the equipment you need to learn the basics. Once you have grasped the technical aspects of the sport then, and only then should you consider investing. </p>

    <p>This is advice for any age group starting out in Archery.</p>

    <p>When making your first equipment purchase you should go to a reputable dealer. Do not buy online from outlets  such as eBay, Amazon or Wish. This is because your equipment needs to fit you and you need to try it out before you buy it.</p>

    <p>Invest in a good handle and sight. Limbs and arrows should be entry level as you will outgrow these however the  right handle and sight can last you for life.</p>

    <p>Other equipment that you may consider buying as a beginner are an armguard, finger tab and quiver as well as an  equipment bag.</p>

    <p>You don’t need to buy any equipment before doing a beginner’s course.</p>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('starting_out_archery')}}" role="button">Back</a>
    </div>
</div>
{% endblock %}