{% extends "layout.html" %}
{% block content %}
    <h2>Arrow Building</h2>
    <p>All our arrows are custom made to your specific requirements by a competent archer with significant experience of making arrows. We sell all types of arrows from basic entry level to high performance Olympic standard.</p>
    <button type="button" class="btn btn-primary"><a href="https://shop.inrangearchery.co.uk/pages/arrow-building" style="color: #1d2124">Shop Arrow Building</a></button>
    <p class="pt-3">We can also supply arrow wraps to further customise your arrows.</p>
    <button type="button" class="btn btn-primary">
        <a href="https://shop.inrangearchery.co.uk/collections/wraps" style="color: #1d2124">Shop Arrow Wraps</a>
    </button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('shop_services')}}" role="button">Return</a>
    </div>


{% endblock %}