{% extends "layout.html" %}
{% block content %}
    <h2>Compound Bow check-up</h2>
    <p>Did you buy your bow online and need it to be set up for the first time? Maybe you just want your existing bow checked over to make everything is set up correctly and safely.</p>
    <p>Including (but not limited to):</p>
    <ul>
        <li>Paper tuning</li>
        <li>Third Axis alignment</li>
        <li>Cam lean</li>
        <li>Timing</li>
        <li>D-Loop</li>
        <li>Peep sight positioning</li>
        <li>Draw length and weight adjustment</li>
    </ul>
    <button type="button" class="btn btn-primary">
        <a href="https://bookings.inrangearchery.co.uk/" style="color: #1d2124">Book Appointment</a>
    </button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('shop_services')}}" role="button">Return</a>
    </div>

{% endblock %}