{% extends "layout.html" %}
{% block content %}
    <h2>Recurve Bow check-up</h2>
    <p>Did you buy your bow online and need it to be set up for the first time? Maybe you just want your existing bow checked over to make everything is set up correctly and safely.</p>
    <p>Including (but not limited to):</p>
    <ul>
        <li>Limb alignment</li>
        <li>Nocking points</li>
        <li>Bracing height/tiller adjustment</li>
        <li>Button alignment/pressure</li>
        <li>Spine matching of arrows</li>
    </ul>

    <button type="button" class="btn btn-primary"><a href="https://bookings.inrangearchery.co.uk/" style="color: #1d2124">Book Appointment</a></button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('shop_services')}}" role="button">Return</a>
    </div>
{% endblock %}