{% extends "layout.html" %}
{% block content %}
    <h2>String Making</h2>
    <p>We can custom make recurve strings to your specific requirements including colour, material, strand  count, serving type and nock fit.</p>
    <button type="button" class="btn btn-primary"><a href="https://shop.inrangearchery.co.uk/pages/string-making" style="color: #1d2124">Shop String Making</a></button>

    <div class="text-center pt-4">
        <a class="btn btn-secondary" href="{{ url_for('shop_services')}}" role="button">Back</a>
    </div>
{% endblock %}