{% extends "layout.html" %}
{% block content %}
    <style>

        /* TODO: Fix image responsiveness */

        .section {
            height: 400px;
            padding: 0;
            margin: 0px;
            position: relative;
            overflow: hidden;
            background-repeat: round;
            background-size: cover;
        }

        .section a {

        }

        .section img {
            width:100%;
            height: 400px;
            object-fit: cover;
        }

        .section .sectionMask{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            color:#fff;
            background-color: rgba(0, 0, 0, 0.5)
        }

        .section .sectionMask .text{
            font-size: 2.25rem;
            padding: 20px;
            height: 100%;
            display: flex!important;
            align-items: center!important;
            justify-content: center!important;
            text-align: center!important;
        }

        .section .sectionMask .text p{
            margin:0;
        }

        .circleBase {
            border-radius: 50%;
        }

        .bookNow {
            width: 180px;
            height: 180px;
            background-color: rgba(242,217,52,1);
        }

        .bookNow p{
            font-size: 1.8rem;
            color:#333333;
        }
    </style>


    <div>

        <div class="input-group input-group-lg mt-3 mb-3" style="border-radius: 50px">
                <input type="text" class="form-control" id="searchInput" placeholder="Search our store!" aria-label="Search our store!" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="searchButton" type="button" onclick="searchStore(document.getElementById('searchInput').value)">Go</button>
                </div>
        </div>


        <script>
            function searchStore(input) {
                if (input.length === 0) {
                    console.log("Search query empty.")
                    return false;
                } else {
                    var result = input.replace(/\s+/g, "+");
                    window.open('https://shop.inrangearchery.co.uk/search?type=product&q=' + result);
                }
            }

            var input = document.getElementById("searchInput");

            input.addEventListener("keypress", function(event) {
              if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("searchButton").click();
              }
            });
        </script>

        <div class="d-flex flex-wrap justify-content-center mb-5" style="overflow:hidden; border-radius: 50px">

            <div class="position-absolute align-self-center" style="z-index: 1">
                <div class="circleBase bookNow text-center">
                    <a href="https://bookings.inrangearchery.co.uk/" style="text-decoration: none">
                        <p class="p-5 pb-0 m-0">Book Now</p>
                    </a>
                </div>
            </div>


            <div class="section col-12 col-md-6 col-lg-6 p-0">
                <a href="https://shop.inrangearchery.co.uk/">
                <img src="/static/images/landing/shop.jpg">
                <div class="section sectionMask" style="background-color: rgba(27,117,188,0.4)">
                    <p class="text">Online Shop</p>
                </div>
                </a>
            </div>

            <div class="section col-12 col-md-6 col-lg-6 p-0">
                <a href="{{ url_for('shop_services') }}">
                <img src="/static/images/landing/our_services.jpg">
                <div class="section sectionMask" style="background-color: rgba(191,30,46,0.4)">
                    <p class="text">Our Services</p>
                </div>
                </a>
            </div>

            <div class="section col-12 col-md-6 col-lg-6 p-0">
                <a href="{{ url_for("starting_out_archery") }}">
                <img src="/static/images/landing/starting_out_with_archery.jpg">
                <div class="section sectionMask" style="background-color: rgba(80,185,72,0.4)">
                    <p class="text">Starting out with Archery</p>
                </div>
                </a>
            </div>

            <div class="section col-12 col-md-6 col-lg-6 p-0">
                <a href="{{ url_for('archery_coaching') }}">
                <img src="/static/images/landing/coaching_development.jpg">
                <div class="section sectionMask" style="background-color: rgba(247,148,30,0.4)">
                    <p class="text">Archery development / Coaching</p>
                </div>
                </a>
            </div>
        </div>

    </div>


{% endblock %}